<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="remotebuildprofiler" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="File" value="remotebuildprofiler.log" />
       <param name="DatePattern" value="'.'yyyy-MM-dd" />
       <param name="MaxBackupIndex" value="60" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="[%p] %d %c %M - %m%n"/>          
       </layout>
    </appender>
 
	<logger name="eu.dedalus" additivity="false">
		<level value="info" />
		<appender-ref ref="remotebuildprofiler" />
	</logger>

	<!-- Root Logger for all general logging -->
	<root>
		<level value="error"></level>
		<appender-ref ref="remotebuildprofiler" />
	</root>

</log4j:configuration>